@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .InputViewLight{
        @apply
        bg-transparent
        border-2
        border-solid
        border-Biege
        rounded-lg
        w-full
        p-2
        placeholder:to-black
        ;
    }
}
@layer components{
    .inputWrapper{
        @apply
        bg-transparent
        border-gray-500
        border-2
        p-2
        rounded-lg
        overflow-hidden
        flex
        w-full
        flex-row
        items-center
        justify-between
        ;
    }
}
@layer components{
    .generalInput{
        @apply
        bg-transparent
        outline-0
        border-0
        flex-1
        ;
    }
}
@layer components{
    .themeCard{
        @apply
        bg-Biege
        dark:bg-secondaryCard
        rounded-2xl
        
        p-5
        ;
    }
}
@layer components{
    .cardHeader{
        @apply
        font-bold
        text-2xl

        ;
    }
}
@layer components{
    .cardlabel{
        @apply
        font-semibold
        text-base
        
        ;
    }
}
@layer components{
    .authBody{
        @apply
        flex-1
        content-center
        justify-center
        bg-transparent
        w-full
        
        ;
    }
}
@layer components{
    .authCard{
        @apply
        border-gray-500/30
        border-2
        overflow-hidden
        p-5
        flex
        justify-center
        self-center
        items-center
        text-center
        
        
        max-w-[360px]
        gap-5
        ;
    }
}
@layer components{
    .ascentButton{
        @apply
        bg-gray-500/50
        w-full
        rounded-lg
        flex
        flex-row
        items-stretch
        justify-center
        font-semibold
        color-white
        gap-2
    }
}
@layer components{
    .generalbutton{
        @apply
        flex
        w-full
        flex-row
        text-center
        rounded-lg
        text-white
        font-semibold
        items-center
        justify-center
        overflow-hidden
        ;
    }
}
@layer components{
    Text{
        @apply
        font-inter;
    }
}

@layer components{
    .errorMessage{
        @apply
        p-2
        bg-RosePink/50
        border-2
        border-RosePink
        rounded-md
        font-semibold
        ;
    }
}
@layer components{
    .successMessage{
        @apply
        p-2
        bg-green-600/50
        border-2
        border-green-700
        rounded-md
        font-semibold
        ;
    }
}
@layer components{
    .iconWrapper{
        @apply
        bg-RosePink/50
        border-2
        border-RosePink
        border-solid
        rounded-full
        p-2
        text-white
        ;
    }
}
@layer components{
    .simpleButton{
        @apply
        bg-AscentViolet
        border-AscentViolet
        border-2
        border-solid
        rounded-md
        color-white
        flex
        flex-row
        items-center
        lg:w-auto
        w-full
        justify-center
        gap-0
        ;
    }

@layer components{
    .deleteButton{
        @apply
         bg-RosePink
        border-2
        border-RosePink
        rounded-md
        font-semibold
        color-white
        flex
        flex-row
        items-center
        lg:w-auto
        w-full
        justify-center
        ;
    }
}}
@layer components{
    .basicUserTag{
        @apply
        p-2
        bg-gray-300/50
        border-gray-600
        border-2
        rounded-lg
        text-white
        flex
        flex-row
        gap-1
        align-middle
        items-center
        ;
    }
}
@layer components{
    .basicUserTagText{
        @apply
        font-semibold
        color-white
        ;
    }
}
@layer components{
    .themeBodyContainer{
        @apply
        p-2
        rounded-lg
        justify-center
        items-center
        flex-1
        flex
        
        ;
    }
}
@layer components{
    .themeBodyContainer2{
        @apply
        p-5
        rounded-lg
        justify-center
        items-center
        
        ;
    }
}